html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

fieldset {
    margin: 0;
    border: 0;
    padding: 0;
}

legend {
    display: block;
    font-size: 12px;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
}

h1,
h2,
h3,
p {
    margin: 0;
}

button {
    padding: 0;
    border: 0;
    cursor: pointer;
}

input,
textarea {
    border: none;
    padding: 0;
}

.visually-hidden {
    position: fixed;
    transform: scale(0);
    height: 1px;
    width: 1px;
    margin: 0;
    padding: 0;
}

.modal {
    position: fixed;
    inset: 0;
    display: flex;
    padding: 20px;
}

.modal__container {
    position: relative;
    flex-basis: 792px;
    padding: 32px 106px 39px 106px;
    background-color: #F2F0F9;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    margin: auto;
}

.modal__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #6E6893;
    padding-bottom: 21px;
    margin-bottom: 21px;
    border-bottom: 1px solid #C6C2DE;
}

.box {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
        "name description"
        "category description"
        "units count"
        "discount price"
        ". img";
    gap: 12px 24px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    color: #6E6893;
    padding: 28px;
    margin-bottom: 32px;
}

.box__label {
    display: flex;
    flex-direction: column;
}

.box__label-name {
    grid-area: name;
}

.box__label-category {
    grid-area: category;
}

.box__label-units {
    grid-area: units;
}

.box__label-discount {
    grid-area: discount;
    position: relative;
}

.box__label-description {
    grid-area: description;
}

.box__label-count {
    grid-area: count;
}

.box__label-price {
    grid-area: price;
}

.box__label-img {
    grid-area: img;
}

.box__span {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding-left: 10px;
    padding-bottom: 5px;
}

.box__input,
.box__text {
    position: relative;
    display: flex;
    line-height: 40px;
    background-color: #F4F2FF;
    border-radius: 6px;
    width: 100%;
}

.box__text {
    display: flex;
    height: 100%;
}


.box__text:hover,
.box__input:hover {
    box-shadow: 0px 0px 5px rgba(113, 0, 227, 0.5);
}

.box-discount {
    display: flex;
    gap: 10px;
}

.box-discount__input-discount {
    width: 80%;
    margin-left: auto;
}

.box-discount__input-check {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    opacity: 0;
    width: 40px;
    height: 40px;
    margin: 0;
    vertical-align: middle;
    border-radius: 6px;
}

/* .box-discount__input-check:focus {
    border: 1px solid #6D5BD0;
} */

.box-discount__input-check:before {
    content: '';
    position: absolute;
    /* background-color: #F4F2FF; */
    background-color: #6D5BD0;
    top: 30px;
    left: 0;
    width: 38px;
    height: 38px;
    border-radius: 6px;
    font-size: 28px;
}

.box-discount__input-check:after {
    content: '';
    position: absolute;
    background-color: #FFFFFF;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    border: none;
    background-image: url('./checked.svg');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
}

.box-discount__input-check:checked:after {
    opacity: 0;
    border: 1px solid #080325;
}

.box__label-img {
    background: #6D5BD0;
    border-radius: 6px;
    color: #FFFFFF;
    padding-top: 11px;
    padding-bottom: 11px;
    min-width: 250px;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
}

.box__label-img-span {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
}

.form__button {
    background: #6D5BD0;
    border-radius: 6px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 200px;
    margin-left: 345px;
}

.form__button:hover {
    opacity: 0.6;
}

.form__button:focus {
    color: #e6f389;
}

.form__close {
    color: #6E6893;
    position: absolute;
    top: 20px;
    right: 30px;
    transition: opacity ease 0.5s;
}

.form__close:hover {
    opacity: 0.6;
}